.inline-block
  %audio{:id => "sound_audio_#{sound.id}", :style => 'display:none'}
    %source{:src => sound.audio.url(:original), :type => sound.audio.content_type}
  =image_tag('red_button.png', id: "sound_play_#{sound.id}", style: 'cursor: pointer')
  %div=sound.title

  :javascript
    $("#sound_play_#{sound.id}").click(function() { 
      playSound($("#sound_audio_#{sound.id}"))
    });
    setTimeout( function() {
      $("#sound_duration_#{sound.id}").text(parseInt($("#sound_audio_#{sound.id}").get(0).duration) + "\"")
    }, 500 );
